@import url("./../root.css");
@import url("./components/loft-navigation.css");
@import url("./components/loft-footer.css");

:root {
}

.aboutUs-layout {
  width: 70%;
  margin: 7em auto 1em;
  box-sizing: border-box;
}

.aboutUs-headline {
  text-align: center;
  margin: 0;
}

.aboutUs {
  display: flex;
  flex-direction: column;
}

@media (max-width: 35em) {
  .social-media {
    display: none;
  }

  .aboutUs-layout {
    width: 90%;
  }
}