@import url("./../../styles/root.css");
@import url("./../../styles/pages/components/loft-button.css");
@import url("./../../styles/pages/components/loft-navigation.css");
@import url("./../../styles/pages/components/loft-blog-articles.css");
@import url("./../../styles/pages/components/loft-footer.css");

:root {
  --blog-button-bg-color: var(--white);
  --blog-button-text-color: var(--steel-blue);
  --blog-button-border-color: var(--signal-black);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.post-layout {
  display: flex;
  width: 100%;
  margin-top: 6em;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.post-layout-item {
  width: calc(50% - 1em);
}

.blog-button:hover {
  border-color: var(--blog-button-border-color);
  background: var(--blog-button-bg-color);
  color: var(--blog-button-text-color);
}

@media (max-width: 50em) {
  .post-layout-item {
    width: calc(100% - 2em);
  }
}