@import url("./../root.css");
@import url("./components/loft-button.css");
@import url("./components/loft-navigation.css");
@import url("./components/loft-footer.css");
@import url("./components/loft-contact-form.css");

:root {

}

.contacts-layout {
  margin-top: 6em;
  width: 100%;
}

.contacts-message {
  border-radius: 0;
}

@media (max-width: 35em) {

  .contacts-form-layout {
    flex-wrap: wrap;
  }

  .contacts-address, .contacts-message {
    width: 100%;
  }
}