@import "../pages/components/loft-navigation.css";

.photo {
  width: 95%;
  margin: 1em auto;
}
.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  align-content: space-between;
}
.photo-gallery__image {
  max-width: calc(49%);
  margin-top: 1em;
}
