@import url("./../root.css");
@import url("./../pages/components/loft-button.css");
@import url("./../pages/components/loft-navigation.css");
@import url("./../pages/components/loft-footer.css");

:root {
  --body-bg-color: var(--signal-black);
  --slider-list-bg-color: var(--signal-black);
  --gallery-burger-icon-item-bg-color: var(--white);
  --slider-button-bg-color: var(--steel-blue);
  --slider-button-border-color: var(--wheat);
  --slider-button-focus-bg-color: var(--signal-black);
  --slider-button-focus-border-color: var(--wheat);
  --loader-after-bg-color: var(--signal-black);
}

body {
  background: var(--body-bg-color);
}

.wrapper {
display: flex;
flex-direction: column;
height: 100%;
}

.main {
flex-grow: 1;
flex-shrink: 0;
flex-basis: auto;
}

.gallery-navigation-layout {
  position: relative;
  z-index: 1;
}

.gallery-logo {
  position: absolute;
}

.gallery-burger-icon-item {
  background: var(--gallery-burger-icon-item-bg-color);
}

.slider-wrapper {
  width: 85%;
  margin: 1em auto 1em;
  height: 35em;
}

.slider {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/*-----GALLERY-LOADER-----*/
.loader {
  z-index: 1;
  position: absolute;
  top: 80%;
  left: 45%;
  display: none;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: linear-gradient(#ffffff, #5B7876, #000000);
  animation: animate 10s linear infinite;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.unseen {
  display: none;
}

.loader:hover {
  opacity: 0;
}

.loader span{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#ffffff, #5B7876, #000000);
  animation: animate 10s linear infinite;
}

.loader span:nth-child(1){
  filter: blur(0.5em);
}
.loader span:nth-child(2){
  filter: blur(1em);
}
.loader span:nth-child(3){
  filter: blur(2em);
}

.loader:after {
  content: " ";
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  bottom: 0.2em;
  left: 0.2em;
  background: var(--loader-after-bg-color);
  border-radius: 50%;
}

.slider-list {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--slider-list-bg-color);
  list-style: none;
}

.slider-list-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
}

.slider-list-item.visible {
  opacity: 1;
}

.slider-list-item.slider-item1 {
  background-image: url(./../../images/gallery-slider-img/gallery-1.jpg);
}

.slider-list-item.slider-item2 {
  background-image: url(./../../images/gallery-slider-img/gallery-2.jpg);
}

.slider-list-item.slider-item3 {
  background-image: url(./../../images/gallery-slider-img/gallery-3.jpg);
}

.slider-list-item.slider-item4 {
  background-image: url(./../../images/gallery-slider-img/gallery-4.jpg);
}

.slider-list-item.slider-item5 {
  background-image: url(./../../images/gallery-slider-img/gallery-5.jpg);
}

.slider-list-item.slider-item6 {
  background-image: url(./../../images/gallery-slider-img/gallery-6.jpg);
}

.slider-list-item.slider-item7 {
  background-image: url(./../../images/gallery-slider-img/gallery-7.jpg);
}

.slider-list-item.slider-item8 {
  background-image: url(./../../images/gallery-slider-img/gallery-8.jpg);
}

.slider-list-item.slider-item9 {
  background-image: url(./../../images/gallery-slider-img/gallery-9.jpg);

}

.slider-list-item.slider-item10 {
  background-image: url(./../../images/gallery-slider-img/gallery-10.jpg);

}

.slider-list-item.slider-item11 {
  background-image: url(./../../images/gallery-slider-img/gallery-11.jpg);

}

.slider-list-item.slider-item12 {
  background-image: url(./../../images/gallery-slider-img/gallery-12.jpg);
}

.slider-button {
  position: absolute;
  box-sizing: border-box;
  width: 5em;
  height: 2em;
  border: none;
  border-radius: 2em;
  background: var(--slider-button-bg-color);
  font-weight: 800;
  line-height: 2em;
  cursor: pointer;
  opacity: 0.8;
}

.slider-button:focus {
  background: var(--slider-button-focus-bg-color);
  border-color: var(--slider-button-focus-border-color);
}

.slider-button-prev {
  top: 80%;
  left: 0.5em;
}

.slider-button-next {
  top: 80%;
  right: 0.5em;
}

@media (max-width: 35em) {
  .loader {
    display: block;
  }
}