@import url("../../root.css");

:root {
  --navigation__link-text-color: var(--linen);
  --navigation__link-hover-text-color: var(--white);
  --navigation__link-focus-text-color: var(--steel-blue);
  --burger-icon-item-bg-color: var(--linen);
  --burger-icon-item-content-color: var(--white);
  --navigation__link-hover-bg-color: var(--signal-black);
  --navigation-active-bg-color: var(--cofee);
  --navigation-layout-bg-color: var(--cadet-blue);
  --navigation-layout-sticky-bg-color: var(--signal-black);
  --logo-text-color: var(--linen);
  --butrger-icon-item-recolored-bg-color: var(--linen);
  --butrger-icon-item-recolored-text-color: var(--linen);
}

.navigation-layout {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 6em;
  background: var(--navigation-layout-bg-color);
  transition: background 0.3s ease-out;
}

.navigation-layout.sticky {
  z-index: 2;
  background: var(--navigation-layout-sticky-bg-color);
  transition: background 0.3s ease-out;
  opacity: 0.98;
}


.navigation__links-group {
  display: flex;
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  padding: 2em;
}

.navigation__links-group-item {
  padding: 0 1em;
}

.navigation__link {
  color: var(--navigation__link-text-color);
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all ease 0.2s;
  border-radius: 1.2em;
}

.navigation__link:hover {
  color: var(--navigation__link-hover-text-color);
  background: var(--navigation__link-hover-bg-color);
}

.navigation__link:focus {
  outline: none;
  color: var(--navigation__link-focus-text-color);
}

.navigation.active {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: .5s;
  background: var(--navigation-active-bg-color);
  overflow: scroll;
}

.burger-icon.visible {
  display: none;
}

.burger-icon {
 display: none;
}

.burger-icon-item {
  width: 100%;
  height: 0.25em;
  background: var(--burger-icon-item-bg-color);
  color: var(--burger-icon-item-content-color);
  border-radius: 0.5em;
  transition: .5s ease-in-out;
}

.burger-icon-item:nth-child(1).rotate {
  transform-origin: top right;
  transform: rotate(-45deg);
}

.burger-icon-item:nth-child(2).rotate {
  transform: translateX(0.5em);
  opacity: 0;
}

.burger-icon-item:nth-child(3).rotate {
  transform-origin: bottom right;
  transform: rotate(45deg);
}




.loft-logo {
  position: fixed;
  top: 1.4em;
  right: 8em;
  width: 3.5em;
  height: 3.5em;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.loft-logo.sticky {
  position: fixed;
  top: 1em;
  right: 11em;
  width: 3.5em;
  height: 3.5em;
  transition: all .5s ease-out;
}

/*.logo{*/
  /*position: fixed;*/
  /*top: 0;*/
  /*right: 3em;*/
  /*width: 4em;*/
  /*display: inline-block;*/
  /*height: 3em;*/
  /*margin: 0;*/
  /*font-size: 2em;*/
  /*line-height: 3em;*/
  /*text-align: center;*/
  /*color: var(--logo-text-color);*/
  /*white-space: nowrap;*/
/*}*/




.example {
  margin-top: 6em;
}

@media (max-width: 50em) {
  .navigation {
    position: fixed;
    top: 0;
    left: -10em;
    width: 10em;
    height: 100vh;
    transition: 1s;
  }

  .navigation__links-group {
    padding: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .navigation__links-group-item {
    padding: 0 0 1em 1em;
  }

  .navigation__links-group:nth-child(1) {
    padding-top: 7em;
  }

  .burger-icon {
    position: fixed;
    top: 2em;
    left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2em;
    height: 2em;
    cursor: pointer;
    transition: .5s;
  }
}