@import url("./root.css");
@import url("./pages/components/loft-button.css");
@import url("./pages/components/loft-social-media.css");
@import url("./pages/components/loft-contact-form.css");
@import url("./pages/components/loft-footer.css");
@import url("./pages/components/loft-navigation.css");

:root {
  --loft-navigation__link-text-color: var(--white);
  --loft-burger-icon-item-bg-color: var(--white);
  --loft-main-image-bg-color: var(--signal-black);
  --loft-navigation__link-hover-text-color: var(--signal-black);
  --loft-navigation__link-hover-bg-color: var(--steel-blue);
  --loft-navigation__link-active-text-color: var(--white);
}

/*--------HEADER-------*/
.loft-header {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 8em;
  margin: 0;
  padding: 0;
}

.loft-logo {
  position: fixed;
  top: 2em;
  right: 5em;
  width: 5em;
  height: 5em;
  transform: rotate(-7deg);
  cursor: pointer;
}

.loft-navigation__link {
  color: var(--loft-navigation__link-text-color);
}

.loft-navigation__link:hover {
  color: var(--loft-navigation__link-hover-text-color);
  background: var(--loft-navigation__link-hover-bg-color);
}

.loft-navigation__link:active {
  color: var(--loft-navigation__link-active-text-color);
}

.burger-icon-item {
  background: var(--loft-burger-icon-item-bg-color);
}

/*------MAIN-------*/
.loft-main-layout {
  width: 100%;
}

.loft-main__image {
  height: 50em;
  background: var(--loft-main-image-bg-color) url("./../images/loft-background/loft-background.jpg") no-repeat local top left;
  background-size: cover;
}

.loft-main__content-layout {
  width: 90%;
  margin: 2em auto;
  line-height: 2em;
}

/*-----PARALLAX-------*/

.parallax_container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 30em;
}

.parallax-image {
  height: 100%;
  width: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-image1 {
  background-image: url("./../images/parallax-images/loft-bg-2.jpg");
  background-position: center;
  opacity: 0.9;

}

.parallax-image2 {
  background-image: url("./../images/parallax-images/loft-bg-1.jpg");
  background-position: center left;
  background-size: cover;
  opacity: 0.9;
}

.parallax-image3 {
  background-image: url("./../images/parallax-images/loft-bg-3.jpg");
  background-position: center;
  opacity: 0.9;

}

.parallax-text {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  line-height: 2em;
  padding: 1em;
}

.parallax-between {
  width: 90%;
  line-height: 2em;
  margin: 2em auto;
}

/*------FOOTER------*/




/*------MEDIA-------*/


