<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>loft-burger</title>
  <link rel="stylesheet" href="../../styles/pages/components/loft-burger.css">
</head>
<body>
  <section class="burger">
    <input type="checkbox" id="brg-chb" class="burger__checkbox">
    <label for="brg-chb" class="burger__icon">
      <span class="burger__icon-item"></span>
      <span class="burger__icon-item"></span>
      <span class="burger__icon-item"></span>
    </label>
    <nav class="burger__hidden-menu">
      <ul class="burger__hidden-menu-links-group">
        <li class="burger__hidden-menu-links-group-item">
          <a class="burger__hidden-menu-link" href="#">Главная</a>
        </li>
        <li class="burger__hidden-menu-links-group-item">
          <a class="burger__hidden-menu-link" href="#">О нас</a>
        </li>
        <li class="burger__hidden-menu-links-group-item">
          <a class="burger__hidden-menu-link" href="#">Галерея</a>
        </li>
        <li class="burger__hidden-menu-links-group-item">
          <a class="burger__hidden-menu-link" href="#">Блог</a>
        </li>
        <li class="burger__hidden-menu-links-group-item">
          <a class="burger__hidden-menu-link" href="#">Контакты</a>
        </li>
      </ul>
    </nav>
  </section>
</body>
</html>