<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>loft-navigation</title>
  <link rel="stylesheet" href="./../../styles/components/loft-navigation.css">
</head>
<body>
  <nav class="navigation">
    <ul class="navigation__links-group">
      <li class="navigation__links-group-item">
        <a class="navigation__link" href="#">Главная</a>
      </li>
      <li class="navigation__links-group-item">
        <a class="navigation__link" href="#">О нас</a>
      </li>
      <li class="navigation__links-group-item">
        <a class="navigation__link" href="#">Галерея</a>
      </li>
      <li class="navigation__links-group-item">
        <a class="navigation__link" href="#">Блог</a>
      </li>
      <li class="navigation__links-group-item">
        <a class="navigation__link" href="#">Контакты</a>
      </li>
    </ul>
  </nav>
</body>
</html>