<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../styles/pages/components/loft-gallery-slider.css" />
  </head>
  <body>
    <div class="slider">
      <ul class="slider__list">
        <li class="slider__list-item slider-item1"></li>
        <li class="slider__list-item slider-item2"></li>
        <li class="slider__list-item slider-item3"></li>
        <li class="slider__list-item slider-item4"></li>
        <li class="slider__list-item slider-item5"></li>
      </ul>
      <button class="slider__button slider__button-prev">Пред.</button>
      <button class="slider__button slider__button-next">Cлед.</button>

    </div>
    <script src="./../../scripts/lib/jquery-3.2.1.js"></script>
    <script src="./../../scripts/loft-gallery-slider.js"></script>
  </body>
</html>