<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>loft-contact-form</title>
  <link rel="stylesheet" href="../../styles/pages/components/loft-contact-form.css">
</head>
<body>
  <section class="contacts-form">
    <div class="contacts-form-layout">
      <section class="contacts-message">
        <h2 class="contacts-message__headline">Напишите нам</h2>
        <form action="" class="contacts-message__form">
          <div class="contacts-message__form-input">
            <div class="contacts-message__form-input-field">
              <label for="name">Имя</label>
              <input type="text"
                     id="name"
                     placeholder="Ваше имя">
            </div>
            <div class="contacts-message__form-input-field">
              <label for="phone">Телефон / email</label>
              <input type="text"
                     id="phone"
                     placeholder="Ваш телефон / e-mail">
            </div>
            <div class="contacts-message__form-textarea">
              <label for="message">Сообщение</label>
              <textarea name=""
                        class="contacts-message__form-textarea-field"
                        id="message"
                        cols="45"
                        rows="10">
              </textarea>
            </div>
          </div>
          <div class="contacts-button-layout">
            <input type="submit" hidden>
            <a href="#"
               class="button contacts-button"
               tabindex="0"
               role="button"
            >Отправить
            </a>
          </div>
        </form>
      </section>
      <section class="contacts-address">
        <h2 class="contacts-address__headline">Контакты</h2>
        <div class="contacts-address-layout">
          <p class="contacts-address-item">Ремесленная мастерская <strong>"the Loft"</strong></p>
          <p class="contacts-address-item">Беларусь</p>
          <p class="contacts-address-item">г. Гродно</p>
          <p class="contacts-address-item">ул. Каложская, д.7</p>
          <p class="contacts-address-item">&nbsp;</p>
          <p class="contacts-address-item">E-Mail: theLoft@gmail.com</p>
          <p class="contacts-address-item">Phone: +375-29-7777777</p>
        </div>
        <div class="contacts-address__social">
          <a class="contacts-address__social-item" href="#">
            <img class="contacts-address__social-item-img"
                 src="./../../images/social-icons/facebook-icon.png" alt="facebook">
          </a>
          <a class="contacts-address__social-item" href="#">
            <img class="contacts-address__social-item-img"
                 src="./../../images/social-icons/instagram-icon.png" alt="instagram">
          </a>
          <a class="contacts-address__social-item" href="https://www.pinterest.com/vishneuski87/">
            <img class="contacts-address__social-item-img"
                 src="./../../images/social-icons/pinterest-icon.png" alt="pinterest">
          </a>
          <a class="contacts-address__social-item" href="#">
            <img class="contacts-address__social-item-img"
                 src="./../../images/social-icons/twitter-icon.png" alt=twitter">
          </a>
          <a class="contacts-address__social-item" href="#">
            <img class="contacts-address__social-item-img"
                 src="./../../images/social-icons/youtube-icon.png" alt="youtube">
          </a>
        </div>
      </section>
    </div>
  </section>
</body>
</html>