<!DOCTYPE html>
<html lang="=ru">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="./../../styles/pages/components/loft-blog-articles.css">
</head>
<body>
  <div class="post-wrapper">
    <article class="post">
      <header class="post-header">
        <div class="title">
          <h2>Стол-река своими руками
          </h2>
          <p>
            Уникальный стол своими руками
          </p>
        </div>
        <div class="meta">
          <time class="published">
            February 28, 2019
          </time>
          <a href="" class="author">
            <img class="author-photo" src="./../../images/blog-photo/author-photo.jpg" alt="фото автора блога">
            <div class="author-name">
            Sergei Vishneuski
          </div>
          </a>
        </div>
      </header>
      <div class="post-image">
        <img class="post-image-item" src="./../../images/blog-photo/river-table2.jpg" alt="">
      </div>
      <p class="post-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque delectus dignissimos facilis iure numquam
        quas recusandae tempore totam vel?
      </p>
      <footer class="post-footer">
        <div class="continue-reading">
          <a href="#" class="button continue-reading-button">Перейти к статье</a>
        </div>
      </footer>
    </article>
  </div>
</body>
</html>